services:
  postgres:
    image: postgres:15-alpine
    container_name: moviebooking_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: moviebooking
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: moviebooking_redis
    command: ["redis-server", "--appendonly", "yes"] # Enable AOF Persistence
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data

volumes:
  pgdata:
  redisdata:
